<div class="container">
	<form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
		<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  {{message}}
		</div>
		<h2 class="form-signin-heading">Inicio de sesión</h2>
		<label for="inputEmail" class="sr-only">Correo electronico</label>
		<input type="email" class="form-control" placeholder="Email address" [(ngModel)]="loginData.username" name="username" required/>
		<label for="inputPassword" class="sr-only">Contraseña</label>
		<input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginData.password" name="password" required/>
		<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Login</button>
		<p>
			No estas registrado? <a [routerLink]="['/signup']">Registrarme</a>
		</p>
		<p>
			Ruta no protegida por sesión <a href="/api/users">Ver usuarios</a>
		</p>
		<p>
			Ruta protegida por sesión <a href="/api/protected/users">Ver usuarios</a>
		</p>
	</form>
</div>
