<div class="container">
  <h1>Lista de libros </h1>
  <p><a href="/api/logout"><i class="fa fa-power-off"></i> Cerrar sesión</a></p>
  <p>Ruta protegida por sesión <a href="/api/protected/users">Ver usuarios</a></p>
  <table class="table">
    <thead>
      <tr>
        <th>ISBN</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Librería</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
      </tr>
    </tbody>
  </table>
</div>